/*
Name: Zeshan Bombaywala 
Student Number: 
Description:
*/

*{
    margin:0px;
    padding-top:0;
    box-sizing: border-box;
    font-family: 'Luckiest Guy', cursive;
}

html{
    background-color: #131515;
    background-size:cover;
}

#header{
    text-align: center;
    padding: 15px;
    margin-top: 30px;
    margin-bottom: 5px;
    color: white;
}

#form{
    padding: 15px;
    background-color:#339989;
    border-radius: 10px;
    max-width: 50%;
    margin:auto;
    color: white;
    border:solid 5px #7de2d1;
}

input{
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 15px;
    padding:3px;
}

input[type=color] {
    height: 40px;
}

#submit_btn{
    padding: 10px 15px;
    font-size: 15px;
}

#name_warning{
    display: none;
}

#score{
    margin: 5px;
    justify-content: center;
    display: none;
    color: white;
}

#board{
    width:490px;
    margin: 0 auto;
    display: none;
    border-radius: 10px;
    justify-content: space-around;
    margin-bottom: 15px;
}

#board img{
    width: 120px;
    height: 120px;
    border: solid 4px #339989;
}

#choices{
    display: flex;
    overflow: hidden;
}

.choice {
    display: inline-block;
    margin: 10px;
    text-align: center;
}

#choices button {
    background-color: #7de2d1;
    font-size: 20px;
    padding: 10px;
    margin:5px;
    border: solid #339989;
    transition: all 0.3s;
    box-shadow:0px 2px 10px #339989;

}

#board button:hover{
    transform: translateY(-3px);
    background-color: #339989; 
}

#computerChoice{
    background-color: rgb(255, 255, 255);
    display: none;
    max-width: 75%;
    margin: auto;
    padding:15px;
    border-radius: 10px;
}

#computerChoice h1{
    text-align: center;
    color: purple;
}

#CC{
    display: flex;
    justify-content: center;
    max-width: 45%;
    height:200px;
    margin: auto;
}

#result{
    justify-content: center;
    margin: 15px;
    color: white;
    border: solid #fffafb;
    padding: 20px;
}

#help{
    display: flex;
    justify-self: center;
    font-size: larger;
    background-color: #000000;
    border-radius: 8px;
    border-style: none;
    color: #FFFFFF;
    padding:10px;
    text-align: center;
    border:solid 5px #fffafb;
    transition: all 0.3s;
    width:100px;
    box-shadow:0px 2px 10px #ff0000;
}

#info{
    display: none;
    margin-top: 20px;
}

#help:hover{
    transform: translateY(-3px);
    background-color: #cc2727; 
}

#rules{
    display: none;
    background-color: #339989;
    justify-self: center;
    flex-direction: column;
    font-size: large;
    padding: 20px;
    width: 80%;
    color: white;
    border-radius: 10px;
    border: solid 5px rgb(255, 255, 255);
    padding:40px;
    margin-top: 20px;
}

#rules h3{
    color:purple;
    margin-bottom: 10px; 
    text-decoration: underline; 
}

#rules ul {
    padding-left: 40px; 
}

